<div class="container px-24 py-6 m-auto">
    <h1 class="text-3xl font-semibold mb-3">Delete Post</h1>

    <form action="" method="post">
        <input type="hidden" name="postid" value="">

        <p class="text-xl text-red-500 mb-3">Warning!!! This action cannot be undone.</p>

        <button
            class="px-4 py-1 rounded-md bg-red-500 border border-red-500 font-semibold text-white mb-3">Delete</button>
    </form>
</div>