<div class="container px-24 py-6 m-auto">
  <h1 class="text-3xl font-semibold mb-3">Lorem ipsum dolor sit amet.</h1>
  <p class="text-slate-400 mb-3">Published:
    <script>document.write(new Date().toDateString())</script>
  </p>
  <div class="flex flex-wrap items-center gap-2 mb-2 w-1/4">
    <a href="#"
      class="px-3 py-1 rounded-2xl border text-gray-500 text-xs transition-all cursor-pointer hover:-translate-y-1">Tag
      1</a>
    <a href="#"
      class="px-3 py-1 rounded-2xl border text-gray-500 text-xs transition-all cursor-pointer hover:-translate-y-1">Tag
      2</a>
    <a href="#"
      class="px-3 py-1 rounded-2xl border text-gray-500 text-xs transition-all cursor-pointer hover:-translate-y-1">Tag
      3</a>
    <a href="#"
      class="px-3 py-1 rounded-2xl border text-gray-500 text-xs transition-all cursor-pointer hover:-translate-y-1">Tag
      4</a>
    <a href="#"
      class="px-3 py-1 rounded-2xl border text-gray-500 text-xs transition-all cursor-pointer hover:-translate-y-1">Tag
      5</a>
  </div>

  <hr class="my-3">

  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed officiis possimus enim. Odio, enim? Sequi, quasi, libero
  possimus dolor vel amet laudantium voluptatum modi id reiciendis consequuntur doloremque mollitia. Est qui iure dicta
  quis molestiae sint a nesciunt nulla, laudantium id voluptas atque quam! Nemo quam eaque optio dolore est officia
  porro saepe officiis voluptatem, sed suscipit aspernatur numquam at velit excepturi, consectetur iure similique.
  Numquam quibusdam laborum cumque. Consectetur eos unde doloremque eaque, quos cum impedit consequatur enim molestias
  facere odio, mollitia aperiam magni error incidunt animi obcaecati nostrum vitae, quisquam modi rerum rem et nobis.
  Tempora temporibus cumque dolore exercitationem libero consequuntur dolores suscipit, in vel laudantium veniam aliquam
  autem praesentium corporis asperiores vitae sit voluptatum dolorum quidem voluptates alias labore doloremque! Qui
  nesciunt in mollitia velit possimus maxime asperiores aspernatur similique incidunt nostrum, neque ipsam? Error
  quisquam pariatur harum, id voluptates inventore unde, quibusdam cum numquam itaque at facilis? Nemo repellendus vero
  expedita ducimus incidunt eaque repellat facilis error quod dicta ipsum iste, voluptatibus perspiciatis enim
  necessitatibus exercitationem excepturi magnam suscipit consequuntur id. Dolore excepturi doloremque similique quis!
  Accusantium quo fugiat debitis iusto itaque, voluptatibus totam provident dolores similique minus perspiciatis. Illo
  beatae molestiae sint fugit magnam culpa recusandae, velit asperiores, harum quia sequi ea similique! Culpa nemo
  voluptatem placeat odit recusandae, nesciunt autem exercitationem ab eos modi, ratione iure qui earum, quam sapiente.
  Eaque repellat facilis perspiciatis eum saepe molestias quos, doloribus enim illo adipisci vitae consequuntur error in
  corporis quisquam sapiente dolore ad quas fuga porro praesentium totam modi! Provident excepturi tempora fugiat,
  praesentium id quas dolore ullam sunt quae dolorem quidem hic aspernatur cupiditate facere accusantium, dolor
  blanditiis, vitae vero! Possimus, officiis corrupti. Nihil dolorum, fugiat hic delectus aperiam, doloribus est quis
  maxime nostrum veritatis ullam assumenda atque beatae, ipsam repudiandae dicta dignissimos. Officia quaerat maiores
  fugit dolorem tempore dolores blanditiis? Modi voluptatem sapiente adipisci esse, similique doloribus tenetur tempore
  ab quidem, fuga, mollitia deserunt. Reiciendis quasi omnis provident, obcaecati ab repudiandae aperiam corrupti.
  Excepturi dicta non minus fugiat. Aspernatur incidunt impedit unde minima maxime ipsum, explicabo reprehenderit earum
  id eaque quisquam delectus qui, ut ad cupiditate quibusdam culpa aliquam? Autem natus, aliquam est esse iure beatae
  nihil facere possimus qui minus tempore unde vero commodi veniam pariatur eius nostrum non similique? Harum porro
  labore placeat velit, corrupti provident iste, omnis quo ipsa perspiciatis iusto facere ut praesentium id, tempore
  aliquam delectus dignissimos nihil hic doloribus eaque vel. Quae maxime illo et! Debitis consectetur earum, quisquam
  iusto unde ad ipsum voluptatibus quis! Officiis amet a pariatur sequi doloremque suscipit cumque consequuntur velit,
  commodi aliquid perferendis dolore, temporibus maiores nobis illo. Dicta excepturi quibusdam, deleniti sunt eius, rem
  perferendis nulla modi adipisci voluptas amet, labore dolorum itaque dolores nobis laudantium perspiciatis. Rerum,
  impedit architecto magnam voluptas deleniti tenetur veniam maxime libero repellat. Provident esse ducimus ex sed
  officiis fuga, incidunt odio ullam, cumque fugit, laudantium dolores veritatis nulla maxime repellat quis? Sit,
  officiis, minus perferendis explicabo doloremque vel id dolores aperiam, iusto ullam voluptate tempora!

  <hr class="my-3">

  <h1 class="text-xl font-semibold mb-3">Comments: (4)</h1>
  <form action="">
    <input type="hidden" name="parent" value="">
    <input type="hidden" name="postID" value="mongoDB id">
    <div class="mb-3">
      <label for="comment" class="leading-7 text-sm text-gray-600">Enter your comment</label>
      <textarea id="comment" name="comment"
        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
    </div>
    <button
      class="px-6 py-2 rounded-md bg-blue-500 border border-blue-500 font-semibold text-white mb-3">Submit</button>
  </form>

  <div class="w-full">
    <div class="h-full flex border-gray-200 border p-4 rounded-lg">
      <img alt="team"
        class="lg:block hidden w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
        src="https://randomuser.me/api/portraits/men/64.jpg">
      <div class="flex-grow">
        <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
        <p class="text-gray-500 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tenetur
          expedita id sit unde ratione consectetur neque quasi libero sint!</p>

        <button
          class="px-4 py-1 rounded-md bg-blue-500 border border-blue-500 font-semibold text-white mb-3 text-sm toggleReplyBox"
          data-target="#replyBox1">Reply</button>

        <div class="border px-6 py-4 rounded shadow hidden" id="replyBox1">
          <form action="">
            <input type="hidden" name="parent" value="parent comment mongoDB id">
            <input type="hidden" name="postID" value="mongoDB id">
            <div class="mb-3">
              <label for="comment" class="leading-7 text-sm text-gray-600">Enter your reply</label>
              <textarea id="comment" name="comment"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-24 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
            <button
              class="px-4 py-2 rounded-md bg-blue-500 border border-blue-500 font-semibold text-white text-sm">Submit</button>
          </form>
        </div>

        <div class="p-2 w-full mb-[8px]">
          <div class="h-full flex items-center px-4 py-2">
            <img alt="team"
              class="lg:block hidden w-12 h-12 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
              src="https://randomuser.me/api/portraits/men/64.jpg">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
              <p class="text-gray-500">UI Designer</p>
            </div>
          </div>
        </div>
        <div class="p-2 w-full mb-[8px]">
          <div class="h-full flex items-center px-4 py-2">
            <img alt="team"
              class="lg:block hidden w-12 h-12 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
              src="https://randomuser.me/api/portraits/men/64.jpg">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
              <p class="text-gray-500">UI Designer</p>
            </div>
          </div>
        </div>
        <div class="p-2 w-full mb-[8px]">
          <div class="h-full flex items-center px-4 py-2">
            <img alt="team"
              class="lg:block hidden w-12 h-12 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
              src="https://randomuser.me/api/portraits/men/64.jpg">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
              <p class="text-gray-500">UI Designer</p>
            </div>
          </div>
        </div>
        <div class="p-2 w-full mb-[8px]">
          <div class="h-full flex items-center px-4 py-2">
            <img alt="team"
              class="lg:block hidden w-12 h-12 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
              src="https://randomuser.me/api/portraits/men/64.jpg">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
              <p class="text-gray-500">UI Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-3">

  <div class="flex items-center justify-between flex-wrap">
    <a href="post.html">
      <button
        class="px-3 py-1 rounded-2xl bg-blue-100 border border-blue-500 font-semibold text-blue-500 mb-3 mx-auto block disabled:cursor-not-allowed"
        disabled>&laquo; Previous</button>
    </a>
    <a href="post.html">
      <button
        class="px-3 py-1 rounded-2xl bg-blue-100 border border-blue-500 font-semibold text-blue-500 mb-3 mx-auto block disabled:cursor-not-allowed"
        disabled>Next &raquo;</button>
    </a>
  </div>
</div>