<div class="container my-3 px-20 py-3">
    <h1 class="text-3xl font-semibold underline text-blue-500">Shorten your urls for free</h1>

    <form action="/shorten" method="post" class="my-6">
        <div class="my-3">
            <label for="url" class="leading-7 text-lg text-gray-600">Enter your url</label>
            <input type="text" id="url" name="url"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mt-4">
        </div>
        <div class="w-full mt-4">
            <button
                class="text-white bg-indigo-500 border-0 py-[4px] px-[24px] focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </div>
    </form>

    <hr class="my-3">

    <h1 class="text-3xl font-semibold underline text-blue-500">Your Shortened URLs</h1>

    <table class="table-fixed w-full mt-4">
        <thead>
            <tr class="text-center">
                <th class="p-2 border border-blue-500 text-blue-500">URL</th>
                <th class="p-2 border border-blue-500 text-blue-500">Created</th>
                <th class="p-2 border border-blue-500 text-blue-500">Visit</th>
            </tr>
        </thead>
        <tbody>
            {{#each urls}}
            {{> _url_item this}}
            {{/each}}
        </tbody>
    </table>
</div>