extends layout.pug 

block title 
    | Pug Template Engine

block body 
    #title 
        //- Display if false
        if !title 
            h1 Hello World
        //- Do not display if false
        //- if title 
        //-     h1 Hello World
    p #{message}

    ul
        each user in  users
            li= user.name + ' - ' + user.email