<tr class="text-center">
    <td class="p-2 border border-blue-300"><a href="{{url}}" target="_blank" class="text-blue-500 hover:underline hover:text-blue-600">{{truncate url}}</a></td>
    <td class="p-2 border border-blue-300">{{formatDate createdAt}}</td>
    <td class="p-2 border border-blue-300"><a href="/visit/{{shorten_id}}" target="_blank" class="text-blue-500 hover:underline hover:text-blue-600">Click Here</a></td>
</tr>